body, html {
	background: white;
	font: 16px/24px Avenir Next, Open sans, Helvetica, Arial, Sans-Serif; /* font: font-size/line-height  font-family; */
	height: 100%;
	width: 100%;
}



.invoice_number {
	padding: 32px 0 24px 0;
	font-size: 24px;
	color: orange;
	
}

.sort_of_label {
	font-size: 14px;
	color: orange;
	padding: 64px 0 0px 0;
	
}

.key {
	font-size: 2rem;
	line-height: 2.2rem;
	padding: 0px 0 0px 0;
	
}
.sort_of_space {
	margin-left: 3px;
	
}

.key .sort_of_space {
	margin-left: 5px;
	
}

#variable_symbol .sort_of_space {
	
	margin-left: 0px;
}

.sort_of_key {
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0px 0 0px 0;
}

.explanation {
	font-size: 14px;
	margin: 0px 0 0px 0;
	
}

.detail {
	
	margin: 8px 0 0px 0;
	
}


.detail .explanation {
	
	margin: -8px 0 0px 0;
	
}

#thanks {
	padding: 32px 0 60px 0;
	
}
	

.help .name  {
	
	padding: 8px 0 0px 0;
	font-weight: 600;
	
}

.help div.client_wrap:hover {					/* hover 	*/
	color: chocolate;
}

.help p:hover {									/* hover 	*/
  	color: chocolate;
}


.help .sort_of_label  {
	
	margin: 0px 0 0px 0;
	
	
}


#list_of_clients  {
	
	
	height: 400px;
	overflow: scroll;
	
}
#time  {
	
	padding: 140px 0 0px 0;
	overflow: scroll;
	font-size: 14px;
}

label  {

	font-weight: normal;
}

.maturity_date_difference p {
	
	margin-bottom: 0px;
}


.hidden {

	visibility: hidden;
}

#variable_symbol_wrap .sort_of_label {
	font-size: 14px;
	color: orange;
	padding: 24px 0 0px 0;
}	
