body, html {
	background: white;
	font: 16px/24px Avenir Next, Open sans, Helvetica, Arial, Sans-Serif; /* font: font-size/line-height  font-family; */
	height: 100%;
	width: 100%;
	color: #333;
	padding-left: 5%;
}

a  {
	font-size: 12px;
	color: blue;
	
}

a.pick_client {
	position: relative;
	top: -8px;
	left: 48px;
	
}

#invoice_number {
	padding: 32px 0 24px 0;
	font-size: 24px;
	color: orange;
	
}


.key {
	font-size: 2rem;
	line-height: 2.2rem;
	padding: 8px 0 8px 0;
	
}

.sort_of_key {
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0px 0 0px 0;
}

.sort_of_label {
	font-size: 14px;
	color: orange;
	padding: 64px 0 0px 0;
	
}


.sort_of_space {
	margin-left: 3px;
	
}

.key .sort_of_space {
	margin-left: 5px;
	
}



.explanation {
	font-size: 14px;
	margin: -4px 0 0px 0;
	
}



#thanks {
	padding: 32px 0 60px 0;
	
}
	
