body, html {
	background: white;
	font: 16px/24px Avenir Next, Open sans, Helvetica, Arial, Sans-Serif; /* font: font-size/line-height  font-family; */
	
	width: 100%;
	padding-left: 10%;
}


#invoice_number {
	padding: 16px 0 0px 0px;
	
	
}

.sort_of_label {
	font-size: 14px;
	color: #DDD;
	padding: 48px 0 0px 0;
	
}

#date .sort_of_label {
	font-size: 14px;
	color: #DDD;
	padding: 32px 0 0px 0;
	
}

#client .key, #me .key {
	font-size: 1.8rem;
	line-height: 2rem;
	padding: 0px 0 8px 0;
	
}

.key {
	font-size: 1.8rem;
	line-height: 2rem;
	padding: 0px 0 0px 0;
	
}
.sort_of_space {
	margin-left: 3px;
	
}

.key .sort_of_space {
	margin-left: 5px;
	
}

.sort_of_key {
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0px 0 0px 0;
}

.explanation {
	font-size: 14px;
	margin: 0px 0 0px 0;
	
}

.detail {
	
	margin: 8px 0 0px 0;
	
}


.detail .explanation {
	
	margin: -8px 0 0px 0;
	
}

#thanks {
	padding: 16px 0 0px 0;

}

.address {
	width: 300px;
	float:left;
}
	


